<app-templatetop></app-templatetop>
<div id="layoutSidenav">
  
    <app-templatenav></app-templatenav>

  <div id="layoutSidenav_content">

    <main>
      <div class="container-fluid px-4">
          
          <h4 class="mt-4 active">Bienvenido <span style="color: #6c757d; font-style: italic;" >{{nombrecompleto}} {{apellidoscompleto}}</span></h4>
          <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="dashboard">Calendario</a></li>
              <li class="breadcrumb-item active">Principal</li>
          </ol>
          <div class="card mb-4">
              <div class="card-body">
                  
                <div *ngIf="roll == 1" class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="toggleVista()">
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ vistatotal }}</label>
                </div>
                
                
                <div class="calendar-container">
                    
                    <full-calendar #fullcalendar [options]="calendarOptions" [events]="events"
                        (dateClick)="handleDateClick($event)"
                        (eventClick)="handleEventClick($event,modal1)"
                        (eventContent)="renderEventContent($event)">
                    </full-calendar>
                </div>

              </div>
          </div>
      </div>
    </main>

    <app-templatebot></app-templatebot>

      
  </div>
</div>

<ng-template #modal1 let-modal>
	<div class="modal-header">
		<h4 class="modal-title"><i class="fa-regular fa-calendar-days"></i> {{tituloevento}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<h6> <i class="fa-regular fa-clock"></i> De : {{startevento}} Hasta : {{endevento}} </h6>
        <hr>

        <p *ngIf="todoeldia; else elseBlock">
            <i class="fa-solid fa-bars-staggered"></i> {{descripcionevento}}
        </p>

        <ng-template #elseBlock>
            <p><i class="fa-solid fa-bars-staggered"></i> {{descripcionevento}}</p>

            <hr>
            <div><i class="fas fa-user fa-fw"></i> {{usuarioevento}}  </div>
            <div *ngIf="quienasigno != null"><h6><i class="fas fa-user-friends fa-fw"></i> {{quienasigno}}</h6></div>

        </ng-template>

        
	</div>
	<div class="modal-footer">
        <div *ngIf="todoeldia == 0">
            <div *ngIf="quienasigno == null || roll == 1">
                <button type="button" ngbAutofocus class="btn btn-outline-warning" (click)="activomodal2(modal2)">Editar</button>
            </div>
        </div>
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Cerrar</button>
	</div>
</ng-template>

<ng-template #modal2 let-modal>
    <form [formGroup]="formueditar" (ngSubmit)="guardar()">
	<div class="modal-header">
		<div class="d-flex align-items-center w-100">
            <label for="titulo" class="form-label me-2"> <i class="fa-regular fa-calendar-days"></i> </label>
            <div class="flex-grow-1">
              <input type="text" class="form-control" id="titulo" formControlName="titulo">
              <div class="text-danger" *ngIf="formueditar.get('titulo')?.invalid && formueditar.get('titulo')?.touched">
                <div *ngIf="formueditar.get('titulo')?.hasError('required')">Titulo es requerido.</div>
                <div *ngIf="formueditar.get('titulo')?.hasError('minlength')">Ingrese un titulo más descriptivo.</div>
                <div *ngIf="formueditar.get('titulo')?.hasError('maxlength')">Límite excedido.</div>
              </div>
            </div>
            
          </div>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-center">
                    <label for="finicial" class="form-label"> <i class="fa-regular fa-clock"></i>  </label> 
                    <div class="flex-grow-1" style="margin-left: 10px; margin-bottom: 10px;">
                        <input type="date" class="form-control" id="finicial" formControlName="finicial" >
                        <div  class="text-danger" *ngIf="formueditar.get('finicial')?.invalid && formueditar.get('finicial')?.touched">
                            <div *ngIf="this.formueditar.get('finicial')?.hasError('required');">Fecha inicial requerido.</div>
                            <div *ngIf="this.formueditar.get('finicial')?.hasError('minlength');">Ingrese un valor valido.</div>
                            <div *ngIf="this.formueditar.get('finicial')?.hasError('maxlength');">Limite excedido.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <select class="form-select" id="hinicial" formControlName="hinicial">
                    <option value="00:00">12:00 a.m.</option>
                    <option value="00:30">12:30 a.m.</option>
                    <option value="01:00">01:00 a.m.</option>
                    <option value="01:30">01:30 a.m.</option>
                    <option value="02:00">02:00 a.m.</option>
                    <option value="02:30">02:30 a.m.</option>
                    <option value="03:00">03:00 a.m.</option>
                    <option value="03:30">03:30 a.m.</option>
                    <option value="04:00">04:00 a.m.</option>
                    <option value="04:30">04:30 a.m.</option>
                    <option value="05:00">05:00 a.m.</option>
                    <option value="05:30">05:30 a.m.</option>
                    <option value="06:00">06:00 a.m.</option>
                    <option value="06:30">06:30 a.m.</option>
                    <option value="07:00">07:00 a.m.</option>
                    <option value="07:30">07:30 a.m.</option>
                    <option value="08:00">08:00 a.m.</option>
                    <option value="08:30">08:30 a.m.</option>
                    <option value="09:00">09:00 a.m.</option>
                    <option value="09:30">09:30 a.m.</option>
                    <option value="10:00">10:00 a.m.</option>
                    <option value="10:30">10:30 a.m.</option>
                    <option value="11:00">11:00 a.m.</option>
                    <option value="11:30">11:30 a.m.</option>
                    <option value="12:00">12:00 p.m.</option>
                    <option value="12:30">12:30 p.m.</option>
                    <option value="13:00">01:00 p.m.</option>
                    <option value="13:30">01:30 p.m.</option>
                    <option value="14:00">02:00 p.m.</option>
                    <option value="14:30">02:30 p.m.</option>
                    <option value="15:00">03:00 p.m.</option>
                    <option value="15:30">03:30 p.m.</option>
                    <option value="16:00">04:00 p.m.</option>
                    <option value="16:30">04:30 p.m.</option>
                    <option value="17:00">05:00 p.m.</option>
                    <option value="17:30">05:30 p.m.</option>
                    <option value="18:00">06:00 p.m.</option>
                    <option value="18:30">06:30 p.m.</option>
                    <option value="19:00">07:00 p.m.</option>
                    <option value="19:30">07:30 p.m.</option>
                    <option value="20:00">08:00 p.m.</option>
                    <option value="20:30">08:30 p.m.</option>
                    <option value="21:00">09:00 p.m.</option>
                    <option value="21:30">09:30 p.m.</option>
                    <option value="22:00">10:00 p.m.</option>
                    <option value="22:30">10:30 p.m.</option>
                    <option value="23:00">11:00 p.m.</option>
                    <option value="23:30">11:30 p.m.</option>

                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="margin-left: 25px;">
                        <input type="date" class="form-control" id="ffinal" formControlName="ffinal" >
                        <div  class="text-danger" *ngIf="formueditar.get('ffinal')?.invalid && formueditar.get('ffinal')?.touched">
                            <div *ngIf="this.formueditar.get('ffinal')?.hasError('required');">Fecha final requerido.</div>
                            <div *ngIf="this.formueditar.get('ffinal')?.hasError('minlength');">Ingrese un valor valido.</div>
                            <div *ngIf="this.formueditar.get('ffinal')?.hasError('maxlength');">Limite excedido.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <select class="form-select" id="hfinal" formControlName="hfinal">
                    <option value="00:00">12:00 a.m.</option>
                    <option value="00:30">12:30 a.m.</option>
                    <option value="01:00">01:00 a.m.</option>
                    <option value="01:30">01:30 a.m.</option>
                    <option value="02:00">02:00 a.m.</option>
                    <option value="02:30">02:30 a.m.</option>
                    <option value="03:00">03:00 a.m.</option>
                    <option value="03:30">03:30 a.m.</option>
                    <option value="04:00">04:00 a.m.</option>
                    <option value="04:30">04:30 a.m.</option>
                    <option value="05:00">05:00 a.m.</option>
                    <option value="05:30">05:30 a.m.</option>
                    <option value="06:00">06:00 a.m.</option>
                    <option value="06:30">06:30 a.m.</option>
                    <option value="07:00">07:00 a.m.</option>
                    <option value="07:30">07:30 a.m.</option>
                    <option value="08:00">08:00 a.m.</option>
                    <option value="08:30">08:30 a.m.</option>
                    <option value="09:00">09:00 a.m.</option>
                    <option value="09:30">09:30 a.m.</option>
                    <option value="10:00">10:00 a.m.</option>
                    <option value="10:30">10:30 a.m.</option>
                    <option value="11:00">11:00 a.m.</option>
                    <option value="11:30">11:30 a.m.</option>
                    <option value="12:00">12:00 p.m.</option>
                    <option value="12:30">12:30 p.m.</option>
                    <option value="13:00">01:00 p.m.</option>
                    <option value="13:30">01:30 p.m.</option>
                    <option value="14:00">02:00 p.m.</option>
                    <option value="14:30">02:30 p.m.</option>
                    <option value="15:00">03:00 p.m.</option>
                    <option value="15:30">03:30 p.m.</option>
                    <option value="16:00">04:00 p.m.</option>
                    <option value="16:30">04:30 p.m.</option>
                    <option value="17:00">05:00 p.m.</option>
                    <option value="17:30">05:30 p.m.</option>
                    <option value="18:00">06:00 p.m.</option>
                    <option value="18:30">06:30 p.m.</option>
                    <option value="19:00">07:00 p.m.</option>
                    <option value="19:30">07:30 p.m.</option>
                    <option value="20:00">08:00 p.m.</option>
                    <option value="20:30">08:30 p.m.</option>
                    <option value="21:00">09:00 p.m.</option>
                    <option value="21:30">09:30 p.m.</option>
                    <option value="22:00">10:00 p.m.</option>
                    <option value="22:30">10:30 p.m.</option>
                    <option value="23:00">11:00 p.m.</option>
                    <option value="23:30">11:30 p.m.</option>

                </select>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <label for="descripcion" class="form-label" ><i class="fa-solid fa-bars-staggered"> </i></label>
                    <div class="flex-grow-1" style="margin-left: 10px;">
                        
                        <textarea class="form-control" id="descripcion" rows="6" formControlName="descripcion"></textarea>
                        <div  class="text-danger" *ngIf="formueditar.get('descripcion')?.invalid && formueditar.get('descripcion')?.touched">
                            <div *ngIf="this.formueditar.get('descripcion')?.hasError('maxlength');">Limite excedido.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <div class="d-flex align-items-center">
            <i class="fas fa-user-friends fa-fw"></i>

            <div class="flex-grow-1" style="margin-left: 10px;" *ngIf="roll != 1; else blo2">
                <label class="form-label">{{usuarioevento}}</label>
            </div>
            <ng-template #blo2>
            
                <div class="flex-grow-1" style="margin-left: 10px;">
                    <label for="nombreasignador" class="form-label">Asignar a :</label>
                    <select class="form-select" id="nombreasignador" formControlName="nombreasignador">
                    <option value="0">Mi calendario</option>
                    <option *ngFor="let paciente of pacientes" [value]="paciente.usuarioid">
                        {{ paciente.nombrecompleto }} {{ paciente.apellidocompleto }}
                    </option>
                    </select>
                </div>
                
            </ng-template>

            
        </div>
    </div>
	    
	<div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="eliminarevento(modal3)">Eliminar</button>
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-outline-warning" (click)="guardar()">Guardar</button>
	</div>
    </form>
</ng-template>

<ng-template #modal3 let-modal>
	<div class="modal-header">
		<h4 class="modal-title"> Eliminar evento</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <p>¿Seguro desea eliminar este evento?.</p>
        
	</div>
	<div class="modal-footer">
        <div *ngIf="quienasigno == null || roll == 1">
            <button type="button" ngbAutofocus class="btn btn-outline-warning" (click)="sieliminaevento()">Si</button>
        </div>
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">No</button>
	</div>
</ng-template>

<ng-template #modal4 let-modal>
    <form [formGroup]="formueditar" (ngSubmit)="guardar()">
	<div class="modal-header">
		<div class="d-flex align-items-center w-100">
            <label for="titulo" class="form-label me-2"> <i class="fa-regular fa-calendar-days"></i> </label>
            <div class="flex-grow-1">
              <input type="text" class="form-control" id="titulo" formControlName="titulo" placeholder="Ingrese el título">
              <div class="text-danger" *ngIf="formueditar.get('titulo')?.invalid && formueditar.get('titulo')?.touched">
                <div *ngIf="formueditar.get('titulo')?.hasError('required')">Titulo es requerido.</div>
                <div *ngIf="formueditar.get('titulo')?.hasError('minlength')">Ingrese un titulo más descriptivo.</div>
                <div *ngIf="formueditar.get('titulo')?.hasError('maxlength')">Límite excedido.</div>
              </div>
            </div>
            
          </div>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-center">
                    <label for="finicial" class="form-label"> <i class="fa-regular fa-clock"></i>  </label> 
                    <div class="flex-grow-1" style="margin-left: 10px; margin-bottom: 10px;">
                        <input type="date" class="form-control" id="finicial" formControlName="finicial" >
                        <div  class="text-danger" *ngIf="formueditar.get('finicial')?.invalid && formueditar.get('finicial')?.touched">
                            <div *ngIf="this.formueditar.get('finicial')?.hasError('required');">Fecha inicial requerido.</div>
                            <div *ngIf="this.formueditar.get('finicial')?.hasError('minlength');">Ingrese un valor valido.</div>
                            <div *ngIf="this.formueditar.get('finicial')?.hasError('maxlength');">Limite excedido.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <select class="form-select" id="hinicial" formControlName="hinicial">
                    <option value="00:00">12:00 a.m.</option>
                    <option value="00:30">12:30 a.m.</option>
                    <option value="01:00">01:00 a.m.</option>
                    <option value="01:30">01:30 a.m.</option>
                    <option value="02:00">02:00 a.m.</option>
                    <option value="02:30">02:30 a.m.</option>
                    <option value="03:00">03:00 a.m.</option>
                    <option value="03:30">03:30 a.m.</option>
                    <option value="04:00">04:00 a.m.</option>
                    <option value="04:30">04:30 a.m.</option>
                    <option value="05:00">05:00 a.m.</option>
                    <option value="05:30">05:30 a.m.</option>
                    <option value="06:00">06:00 a.m.</option>
                    <option value="06:30">06:30 a.m.</option>
                    <option value="07:00">07:00 a.m.</option>
                    <option value="07:30">07:30 a.m.</option>
                    <option value="08:00">08:00 a.m.</option>
                    <option value="08:30">08:30 a.m.</option>
                    <option value="09:00">09:00 a.m.</option>
                    <option value="09:30">09:30 a.m.</option>
                    <option value="10:00">10:00 a.m.</option>
                    <option value="10:30">10:30 a.m.</option>
                    <option value="11:00">11:00 a.m.</option>
                    <option value="11:30">11:30 a.m.</option>
                    <option value="12:00">12:00 p.m.</option>
                    <option value="12:30">12:30 p.m.</option>
                    <option value="13:00">01:00 p.m.</option>
                    <option value="13:30">01:30 p.m.</option>
                    <option value="14:00">02:00 p.m.</option>
                    <option value="14:30">02:30 p.m.</option>
                    <option value="15:00">03:00 p.m.</option>
                    <option value="15:30">03:30 p.m.</option>
                    <option value="16:00">04:00 p.m.</option>
                    <option value="16:30">04:30 p.m.</option>
                    <option value="17:00">05:00 p.m.</option>
                    <option value="17:30">05:30 p.m.</option>
                    <option value="18:00">06:00 p.m.</option>
                    <option value="18:30">06:30 p.m.</option>
                    <option value="19:00">07:00 p.m.</option>
                    <option value="19:30">07:30 p.m.</option>
                    <option value="20:00">08:00 p.m.</option>
                    <option value="20:30">08:30 p.m.</option>
                    <option value="21:00">09:00 p.m.</option>
                    <option value="21:30">09:30 p.m.</option>
                    <option value="22:00">10:00 p.m.</option>
                    <option value="22:30">10:30 p.m.</option>
                    <option value="23:00">11:00 p.m.</option>
                    <option value="23:30">11:30 p.m.</option>

                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="margin-left: 25px;">
                        <input type="date" class="form-control" id="ffinal" formControlName="ffinal" >
                        <div  class="text-danger" *ngIf="formueditar.get('ffinal')?.invalid && formueditar.get('ffinal')?.touched">
                            <div *ngIf="this.formueditar.get('ffinal')?.hasError('required');">Fecha final requerido.</div>
                            <div *ngIf="this.formueditar.get('ffinal')?.hasError('minlength');">Ingrese un valor valido.</div>
                            <div *ngIf="this.formueditar.get('ffinal')?.hasError('maxlength');">Limite excedido.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <select class="form-select" id="hfinal" formControlName="hfinal">
                    <option value="00:00">12:00 a.m.</option>
                    <option value="00:30">12:30 a.m.</option>
                    <option value="01:00">01:00 a.m.</option>
                    <option value="01:30">01:30 a.m.</option>
                    <option value="02:00">02:00 a.m.</option>
                    <option value="02:30">02:30 a.m.</option>
                    <option value="03:00">03:00 a.m.</option>
                    <option value="03:30">03:30 a.m.</option>
                    <option value="04:00">04:00 a.m.</option>
                    <option value="04:30">04:30 a.m.</option>
                    <option value="05:00">05:00 a.m.</option>
                    <option value="05:30">05:30 a.m.</option>
                    <option value="06:00">06:00 a.m.</option>
                    <option value="06:30">06:30 a.m.</option>
                    <option value="07:00">07:00 a.m.</option>
                    <option value="07:30">07:30 a.m.</option>
                    <option value="08:00">08:00 a.m.</option>
                    <option value="08:30">08:30 a.m.</option>
                    <option value="09:00">09:00 a.m.</option>
                    <option value="09:30">09:30 a.m.</option>
                    <option value="10:00">10:00 a.m.</option>
                    <option value="10:30">10:30 a.m.</option>
                    <option value="11:00">11:00 a.m.</option>
                    <option value="11:30">11:30 a.m.</option>
                    <option value="12:00">12:00 p.m.</option>
                    <option value="12:30">12:30 p.m.</option>
                    <option value="13:00">01:00 p.m.</option>
                    <option value="13:30">01:30 p.m.</option>
                    <option value="14:00">02:00 p.m.</option>
                    <option value="14:30">02:30 p.m.</option>
                    <option value="15:00">03:00 p.m.</option>
                    <option value="15:30">03:30 p.m.</option>
                    <option value="16:00">04:00 p.m.</option>
                    <option value="16:30">04:30 p.m.</option>
                    <option value="17:00">05:00 p.m.</option>
                    <option value="17:30">05:30 p.m.</option>
                    <option value="18:00">06:00 p.m.</option>
                    <option value="18:30">06:30 p.m.</option>
                    <option value="19:00">07:00 p.m.</option>
                    <option value="19:30">07:30 p.m.</option>
                    <option value="20:00">08:00 p.m.</option>
                    <option value="20:30">08:30 p.m.</option>
                    <option value="21:00">09:00 p.m.</option>
                    <option value="21:30">09:30 p.m.</option>
                    <option value="22:00">10:00 p.m.</option>
                    <option value="22:30">10:30 p.m.</option>
                    <option value="23:00">11:00 p.m.</option>
                    <option value="23:30">11:30 p.m.</option>

                </select>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center">
                    <label for="descripcion" class="form-label" ><i class="fa-solid fa-bars-staggered"> </i></label>
                    <div class="flex-grow-1" style="margin-left: 10px;">
                        
                        <textarea class="form-control" id="descripcion" rows="6" formControlName="descripcion"></textarea>
                        <div  class="text-danger" *ngIf="formueditar.get('descripcion')?.invalid && formueditar.get('descripcion')?.touched">
                            <div *ngIf="this.formueditar.get('descripcion')?.hasError('maxlength');">Limite excedido.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <div class="d-flex align-items-center">
            <i class="fas fa-user-friends fa-fw"></i>

            <div class="flex-grow-1" style="margin-left: 10px;" *ngIf="roll != 1; else blo2">
                <label class="form-label">Mi calendario</label>
            </div>
            <ng-template #blo2>
            
                <div class="flex-grow-1" style="margin-left: 10px;">
                    <div *ngIf="selectedNames.length > 0" class="mt-2">
                        <label class="form-label">Asignar a :</label>
                        <div>
                          <span *ngFor="let name of selectedNames; let i = index">
                            {{ name }}
                            <img src="./assets/x.png" alt="Eliminar" (click)="removeName(i)" style="cursor: pointer; width: 16px; height: 16px; margin-bottom: 4px;">
                            <span *ngIf="i < selectedNames.length - 1">, </span>
                          </span>
                        </div>
                        <br>
                    </div>
                    <select class="form-select" id="nombreasignador" formControlName="nombreasignador" (change)="onSelectChange($event)">
                        <option value="0" selected>Selecciona un usuario</option>
                        <option *ngFor="let paciente of pacientes" [value]="paciente.usuarioid">
                            {{ paciente.nombrecompleto }} {{ paciente.apellidocompleto }}
                        </option>
                    </select>
                    <!-- Contenedor para mostrar los nombres seleccionados -->
                    
            
                    
                </div>
                
            </ng-template>

            
        </div>
    </div>
	    
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-outline-warning" (click)="crear()">Crear</button>
	</div>
    </form>
</ng-template>